doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' href='/img/favicon.ico')
  link(rel='stylesheet' href='/css/style.css')
  title PauloWebDev
  style.  
    main {
    padding: 0 1rem !important;
    }
// Conteúdo da Página
header
  //- .grid-container.section
  //-   .quantity-columns-1.col-mobile-1
  //-     .to-go-back.flex-row-style(redirect='library/section')
  //-       .flex-row-left-style          
  //-          img.img-logo.mouse-arrow(data-offcavas='true' data-route='home' src='/img/logo.png' alt='logo')
  // Menu
  //- #menuLibrary.menu-library
  //-   div
  //-     .mr-r-2
  //-       img.img-logo.mouse-arrow(data-offcavas='true' data-route='home' src='/img/logo.png' alt='logo')
  //-   .mr-r-1
      //- svg#openBtn.bi.bi-list.bi-list-library(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' viewbox='0 0 16 16')
      //-   path(fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5')
  // Offcanvas menu side
  //- #offcanvas.offcanvas
  //-   .btn-header-offcanvas
  //-     div
  //-       img.img-logo.mouse-arrow(data-offcavas='true' data-route='home' src='/img/logo.png' alt='logo')
  //-     div
  //-       svg#closeBtn.bi.bi-x-lg.mouse-arrow(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' viewbox='0 0 16 16')
  //-         path(d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z')
  //-   .btn-link-offcanvas
  //-     #homeOffcanvas.mouse-arrow.btn-menu-txt-offcanvas(data-route='home' data-offcavas='true' data-select-btn='true')
  //-       | Home
  //-     #aboutOffcanvas.mouse-arrow(data-route='about' data-offcavas='true' data-select-btn='true')
  //-       | Sobre
  //-     #serviceOffcanvas.mouse-arrow(data-route='service' data-offcavas='true' data-select-btn='true')
  //-       | Servi&ccedil;os
  //-     #experienceOffcanvas.mouse-arrow(data-route='experience' data-offcavas='true' data-select-btn='true')
  //-       | Experi&ecirc;ncia
  //-     #contactOffcanvas.mouse-arrow(data-route='contact' data-offcavas='true')
  //-       | Contato

block content        


  
script(src='/js/script.js')
    