.card-primary {
    /* box-shadow: 2px 2px 4px 2px rgba(1, 1, 1, 0.2); */
    // border: 2px solid var(--color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: .5rem;
    word-wrap: break-word;
    margin-bottom: 2rem;
    /* color: var(--color-white);     */
    color: var(--color-black);
    font-weight: bold;
}

.card-primary-library {
    /* box-shadow: 2px 2px 4px 2px rgba(1, 1, 1, 0.2); */
    border: 2px solid var(--color-primary);
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: .5rem;
    word-wrap: break-word;
    margin-bottom: 2rem;
    /* color: var(--color-white);     */
    color: var(--color-black);
    font-weight: bold;
    cursor: pointer;
}

.card-black {
    /* box-shadow: 2px 2px 4px 2px rgba(1, 1, 1, 0.2); */
    // border: 2px solid var(--color-black);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: .5rem;
    word-wrap: break-word;
    margin-bottom: 2rem;
    color: var(--color-black);
    font-weight: bold;
}

.paragraph-card {
    padding: .5rem;
    border-radius: .5rem;
    word-wrap: break-word;
}

.title-card {
    padding-bottom: 1rem;
}


.card-edit-form {
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    border-radius: .5rem;
    margin-top: 1rem
}