.input-style {
    padding: .5rem .3rem;
    border-radius: .3rem;
    margin: .5rem 0;
    width: calc(100% - 2 * 0.3rem - 2 * 1px);
    border: solid 1px var(--color-black);
}

.input-style:focus {
    padding: .5rem .3rem;
    border-radius: .3rem;
    margin: .5rem 0;
    width: calc(100% - 2 * 0.3rem - 2 * 1px);
    border: 1px solid var(--color-primary);
    outline: none;
}
