.div-login {
    // border: solid 1px #000;
    width: 25%;
    padding: 1rem;
    // border-radius: .3rem;
    border: 2px solid transparent;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body{
    background-color: #f1f1f1;
}
.sub-div-login {
    text-align: center;
    margin-bottom: 2rem;
}